-- MySQL dump 10.13  Distrib 8.0.31, for Win64 (x86_64)
--
-- Host: localhost    Database: game_tower
-- ------------------------------------------------------
-- Server version	8.0.31

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `alliance_activities`
--

DROP TABLE IF EXISTS `alliance_activities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alliance_activities` (
  `id` int NOT NULL AUTO_INCREMENT,
  `alliance_id` int NOT NULL,
  `event_type` varchar(16) NOT NULL,
  `actor_user_id` int DEFAULT NULL,
  `actor_name` varchar(32) DEFAULT NULL,
  `target_user_id` int DEFAULT NULL,
  `target_name` varchar(32) DEFAULT NULL,
  `item_name` varchar(32) DEFAULT NULL,
  `item_quantity` int DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_alliance_activity` (`alliance_id`,`created_at`),
  CONSTRAINT `alliance_activities_ibfk_1` FOREIGN KEY (`alliance_id`) REFERENCES `alliances` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alliance_activities`
--

LOCK TABLES `alliance_activities` WRITE;
/*!40000 ALTER TABLE `alliance_activities` DISABLE KEYS */;
/*!40000 ALTER TABLE `alliance_activities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alliance_army_assignments`
--

DROP TABLE IF EXISTS `alliance_army_assignments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alliance_army_assignments` (
  `alliance_id` int NOT NULL,
  `user_id` int NOT NULL,
  `army` enum('dragon','tiger') NOT NULL,
  `signed_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`alliance_id`,`user_id`),
  KEY `idx_army_alliance` (`alliance_id`,`army`),
  KEY `fk_army_user` (`user_id`),
  CONSTRAINT `fk_army_alliance` FOREIGN KEY (`alliance_id`) REFERENCES `alliances` (`id`),
  CONSTRAINT `fk_army_user` FOREIGN KEY (`user_id`) REFERENCES `player` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='??????????/????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alliance_army_assignments`
--

LOCK TABLES `alliance_army_assignments` WRITE;
/*!40000 ALTER TABLE `alliance_army_assignments` DISABLE KEYS */;
INSERT INTO `alliance_army_assignments` VALUES (1,1,'dragon','2026-01-09 17:05:03');
/*!40000 ALTER TABLE `alliance_army_assignments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alliance_beast_storage`
--

DROP TABLE IF EXISTS `alliance_beast_storage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alliance_beast_storage` (
  `id` int NOT NULL AUTO_INCREMENT,
  `alliance_id` int NOT NULL,
  `owner_user_id` int NOT NULL,
  `beast_id` int NOT NULL,
  `stored_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_beast_storage` (`beast_id`),
  KEY `idx_alliance_storage` (`alliance_id`),
  KEY `owner_user_id` (`owner_user_id`),
  CONSTRAINT `alliance_beast_storage_ibfk_1` FOREIGN KEY (`alliance_id`) REFERENCES `alliances` (`id`),
  CONSTRAINT `alliance_beast_storage_ibfk_2` FOREIGN KEY (`owner_user_id`) REFERENCES `player` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alliance_beast_storage`
--

LOCK TABLES `alliance_beast_storage` WRITE;
/*!40000 ALTER TABLE `alliance_beast_storage` DISABLE KEYS */;
/*!40000 ALTER TABLE `alliance_beast_storage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alliance_buildings`
--

DROP TABLE IF EXISTS `alliance_buildings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alliance_buildings` (
  `alliance_id` int NOT NULL,
  `building_key` varchar(32) NOT NULL,
  `level` int NOT NULL DEFAULT '1',
  PRIMARY KEY (`alliance_id`,`building_key`),
  CONSTRAINT `alliance_buildings_ibfk_1` FOREIGN KEY (`alliance_id`) REFERENCES `alliances` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alliance_buildings`
--

LOCK TABLES `alliance_buildings` WRITE;
/*!40000 ALTER TABLE `alliance_buildings` DISABLE KEYS */;
INSERT INTO `alliance_buildings` VALUES (1,'beast_room',1),(1,'council_hall',1),(1,'furnace',1),(1,'item_storage',1),(1,'talent_pool',1);
/*!40000 ALTER TABLE `alliance_buildings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alliance_chat_messages`
--

DROP TABLE IF EXISTS `alliance_chat_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alliance_chat_messages` (
  `id` int NOT NULL AUTO_INCREMENT,
  `alliance_id` int NOT NULL,
  `user_id` int NOT NULL,
  `content` text NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_alliance_id` (`alliance_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alliance_chat_messages`
--

LOCK TABLES `alliance_chat_messages` WRITE;
/*!40000 ALTER TABLE `alliance_chat_messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `alliance_chat_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alliance_item_storage`
--

DROP TABLE IF EXISTS `alliance_item_storage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alliance_item_storage` (
  `id` int NOT NULL AUTO_INCREMENT,
  `alliance_id` int NOT NULL,
  `owner_user_id` int NOT NULL,
  `item_id` int NOT NULL,
  `quantity` int NOT NULL DEFAULT '0',
  `stored_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_alliance_item_storage` (`alliance_id`),
  KEY `idx_owner_item` (`owner_user_id`,`item_id`),
  CONSTRAINT `alliance_item_storage_ibfk_1` FOREIGN KEY (`alliance_id`) REFERENCES `alliances` (`id`),
  CONSTRAINT `alliance_item_storage_ibfk_2` FOREIGN KEY (`owner_user_id`) REFERENCES `player` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alliance_item_storage`
--

LOCK TABLES `alliance_item_storage` WRITE;
/*!40000 ALTER TABLE `alliance_item_storage` DISABLE KEYS */;
/*!40000 ALTER TABLE `alliance_item_storage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alliance_land_registration`
--

DROP TABLE IF EXISTS `alliance_land_registration`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alliance_land_registration` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT COMMENT '????ID',
  `land_id` int NOT NULL COMMENT '??ID?1-5?',
  `alliance_id` int NOT NULL COMMENT '??ID??? alliances.id',
  `army` varchar(16) DEFAULT NULL COMMENT '?????dragon/tiger?',
  `registration_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '????',
  `cost` int NOT NULL DEFAULT '0' COMMENT '???????/?????',
  `status` tinyint NOT NULL DEFAULT '1' COMMENT '?????1-????2-????3-????0-???',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '??????',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_land_alliance` (`land_id`,`alliance_id`),
  KEY `idx_land_id` (`land_id`),
  KEY `idx_alliance_id` (`alliance_id`),
  CONSTRAINT `fk_alliance_land_registration_alliance` FOREIGN KEY (`alliance_id`) REFERENCES `alliances` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='?????????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alliance_land_registration`
--

LOCK TABLES `alliance_land_registration` WRITE;
/*!40000 ALTER TABLE `alliance_land_registration` DISABLE KEYS */;
/*!40000 ALTER TABLE `alliance_land_registration` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alliance_members`
--

DROP TABLE IF EXISTS `alliance_members`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alliance_members` (
  `alliance_id` int NOT NULL,
  `user_id` int NOT NULL,
  `role` tinyint DEFAULT '0',
  `contribution` int DEFAULT '0',
  `army_type` tinyint NOT NULL DEFAULT '0' COMMENT '0-???,1-???,2-???',
  `joined_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`user_id`),
  KEY `idx_alliance_members_army` (`alliance_id`,`army_type`),
  CONSTRAINT `alliance_members_ibfk_1` FOREIGN KEY (`alliance_id`) REFERENCES `alliances` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alliance_members`
--

LOCK TABLES `alliance_members` WRITE;
/*!40000 ALTER TABLE `alliance_members` DISABLE KEYS */;
INSERT INTO `alliance_members` VALUES (1,1,1,0,0,'2026-01-09 17:05:03');
/*!40000 ALTER TABLE `alliance_members` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alliance_talents`
--

DROP TABLE IF EXISTS `alliance_talents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alliance_talents` (
  `alliance_id` int NOT NULL,
  `talent_key` varchar(16) NOT NULL,
  `research_level` int DEFAULT '1',
  PRIMARY KEY (`alliance_id`,`talent_key`),
  CONSTRAINT `alliance_talents_ibfk_1` FOREIGN KEY (`alliance_id`) REFERENCES `alliances` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alliance_talents`
--

LOCK TABLES `alliance_talents` WRITE;
/*!40000 ALTER TABLE `alliance_talents` DISABLE KEYS */;
/*!40000 ALTER TABLE `alliance_talents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alliance_training_participants`
--

DROP TABLE IF EXISTS `alliance_training_participants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alliance_training_participants` (
  `id` int NOT NULL AUTO_INCREMENT,
  `room_id` int NOT NULL,
  `user_id` int NOT NULL,
  `joined_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `claimed_at` datetime DEFAULT NULL,
  `reward_amount` int DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_room_user` (`room_id`,`user_id`),
  KEY `idx_user_joined` (`user_id`,`joined_at`),
  CONSTRAINT `alliance_training_participants_ibfk_1` FOREIGN KEY (`room_id`) REFERENCES `alliance_training_rooms` (`id`),
  CONSTRAINT `alliance_training_participants_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `player` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alliance_training_participants`
--

LOCK TABLES `alliance_training_participants` WRITE;
/*!40000 ALTER TABLE `alliance_training_participants` DISABLE KEYS */;
/*!40000 ALTER TABLE `alliance_training_participants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alliance_training_rooms`
--

DROP TABLE IF EXISTS `alliance_training_rooms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alliance_training_rooms` (
  `id` int NOT NULL AUTO_INCREMENT,
  `alliance_id` int NOT NULL,
  `creator_user_id` int NOT NULL,
  `title` varchar(32) NOT NULL,
  `status` varchar(16) NOT NULL DEFAULT 'ongoing',
  `max_participants` tinyint NOT NULL DEFAULT '4',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `completed_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_alliance_training` (`alliance_id`),
  KEY `creator_user_id` (`creator_user_id`),
  CONSTRAINT `alliance_training_rooms_ibfk_1` FOREIGN KEY (`alliance_id`) REFERENCES `alliances` (`id`),
  CONSTRAINT `alliance_training_rooms_ibfk_2` FOREIGN KEY (`creator_user_id`) REFERENCES `player` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alliance_training_rooms`
--

LOCK TABLES `alliance_training_rooms` WRITE;
/*!40000 ALTER TABLE `alliance_training_rooms` DISABLE KEYS */;
/*!40000 ALTER TABLE `alliance_training_rooms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alliance_war_honor_effects`
--

DROP TABLE IF EXISTS `alliance_war_honor_effects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alliance_war_honor_effects` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `alliance_id` int NOT NULL,
  `effect_key` varchar(32) NOT NULL COMMENT '?? key',
  `effect_type` varchar(16) NOT NULL COMMENT 'xp/fire ???',
  `cost` int NOT NULL DEFAULT '0' COMMENT '??????',
  `started_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `expires_at` datetime NOT NULL,
  `created_by` int NOT NULL COMMENT '????? user_id',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_alliance_effect` (`alliance_id`,`effect_key`),
  KEY `idx_effect_expiration` (`alliance_id`,`effect_type`,`expires_at`),
  CONSTRAINT `fk_honor_effects_alliance` FOREIGN KEY (`alliance_id`) REFERENCES `alliances` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='??????????????? 24 ??';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alliance_war_honor_effects`
--

LOCK TABLES `alliance_war_honor_effects` WRITE;
/*!40000 ALTER TABLE `alliance_war_honor_effects` DISABLE KEYS */;
/*!40000 ALTER TABLE `alliance_war_honor_effects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alliance_war_scores`
--

DROP TABLE IF EXISTS `alliance_war_scores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alliance_war_scores` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `alliance_id` int NOT NULL,
  `season_key` char(7) NOT NULL COMMENT '?????? YYYY-MM',
  `score` int NOT NULL DEFAULT '0',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_alliance_season` (`alliance_id`,`season_key`),
  CONSTRAINT `fk_war_scores_alliance` FOREIGN KEY (`alliance_id`) REFERENCES `alliances` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='????????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alliance_war_scores`
--

LOCK TABLES `alliance_war_scores` WRITE;
/*!40000 ALTER TABLE `alliance_war_scores` DISABLE KEYS */;
/*!40000 ALTER TABLE `alliance_war_scores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alliances`
--

DROP TABLE IF EXISTS `alliances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alliances` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `leader_id` int NOT NULL,
  `level` int DEFAULT '1',
  `exp` int DEFAULT '0',
  `funds` int DEFAULT '0',
  `crystals` int DEFAULT '0',
  `prosperity` int DEFAULT '0',
  `war_honor` int DEFAULT '0' COMMENT '??????',
  `war_honor_history` int DEFAULT '0' COMMENT '??????',
  `notice` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alliances`
--

LOCK TABLES `alliances` WRITE;
/*!40000 ALTER TABLE `alliances` DISABLE KEYS */;
INSERT INTO `alliances` VALUES (1,'娴嬭瘯鑱旂洘_20260109170502',1,1,0,0,0,0,0,0,'娴嬭瘯鑱旂洘鍏憡','2026-01-09 17:05:03');
/*!40000 ALTER TABLE `alliances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `arena_battle_log`
--

DROP TABLE IF EXISTS `arena_battle_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `arena_battle_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `arena_type` varchar(10) NOT NULL COMMENT '?????normal???/gold????',
  `rank_name` varchar(20) NOT NULL COMMENT '?????????/??/??/??/??/??/???',
  `challenger_id` int NOT NULL COMMENT '???ID',
  `challenger_name` varchar(50) NOT NULL COMMENT '?????',
  `champion_id` int NOT NULL COMMENT '??ID',
  `champion_name` varchar(50) NOT NULL COMMENT '????',
  `is_challenger_win` tinyint NOT NULL DEFAULT '0' COMMENT '??????(1=??,0=??)',
  `battle_data` text COMMENT '????(JSON)',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_challenger` (`challenger_id`),
  KEY `idx_champion` (`champion_id`),
  KEY `idx_created` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='?????????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `arena_battle_log`
--

LOCK TABLES `arena_battle_log` WRITE;
/*!40000 ALTER TABLE `arena_battle_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `arena_battle_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `arena_daily_challenge`
--

DROP TABLE IF EXISTS `arena_daily_challenge`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `arena_daily_challenge` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `challenge_date` date NOT NULL,
  `challenge_count` int NOT NULL DEFAULT '0',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_date` (`user_id`,`challenge_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='鎿傚彴姣忔棩鎸戞垬娆℃暟';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `arena_daily_challenge`
--

LOCK TABLES `arena_daily_challenge` WRITE;
/*!40000 ALTER TABLE `arena_daily_challenge` DISABLE KEYS */;
/*!40000 ALTER TABLE `arena_daily_challenge` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `friend_relation`
--

DROP TABLE IF EXISTS `friend_relation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `friend_relation` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL COMMENT '??ID',
  `friend_id` int NOT NULL COMMENT '??ID',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '??????',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_friendship` (`user_id`,`friend_id`),
  KEY `idx_user` (`user_id`),
  KEY `idx_friend` (`friend_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='?????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `friend_relation`
--

LOCK TABLES `friend_relation` WRITE;
/*!40000 ALTER TABLE `friend_relation` DISABLE KEYS */;
/*!40000 ALTER TABLE `friend_relation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `friend_request`
--

DROP TABLE IF EXISTS `friend_request`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `friend_request` (
  `id` int NOT NULL AUTO_INCREMENT,
  `requester_id` int NOT NULL COMMENT '???ID',
  `requester_name` varchar(50) NOT NULL COMMENT '?????',
  `receiver_id` int NOT NULL COMMENT '???ID',
  `receiver_name` varchar(50) NOT NULL COMMENT '?????',
  `status` varchar(20) NOT NULL DEFAULT 'pending' COMMENT '???pending=???,accepted=???,rejected=???',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '????',
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '????',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_request` (`requester_id`,`receiver_id`),
  KEY `idx_requester` (`requester_id`),
  KEY `idx_receiver` (`receiver_id`),
  KEY `idx_receiver_status` (`receiver_id`,`status`),
  KEY `idx_created` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='?????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `friend_request`
--

LOCK TABLES `friend_request` WRITE;
/*!40000 ALTER TABLE `friend_request` DISABLE KEYS */;
INSERT INTO `friend_request` VALUES (1,3,'涔愬ぉ閫嶉仴',1,'濞村鐦悳鈺?1','accepted','2025-12-15 16:40:38','2026-01-09 16:40:37'),(2,4,'鍙互璧絾娌″繀瑕?,1,'濞村鐦悳鈺?1','accepted','2025-12-20 16:40:38','2026-01-09 16:40:37'),(3,5,'闃垮康',1,'濞村鐦悳鈺?1','accepted','2025-12-24 16:40:38','2026-01-09 16:40:37');
/*!40000 ALTER TABLE `friend_request` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `level_config`
--

DROP TABLE IF EXISTS `level_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `level_config` (
  `level` int NOT NULL COMMENT '绛夌骇',
  `prestige_required` int NOT NULL COMMENT '鏅嬬骇鎵€闇€澹版湜',
  `rank_name` varchar(50) NOT NULL COMMENT '闃朵綅鍚嶇О',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`level`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='绛夌骇閰嶇疆琛?;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `level_config`
--

LOCK TABLES `level_config` WRITE;
/*!40000 ALTER TABLE `level_config` DISABLE KEYS */;
/*!40000 ALTER TABLE `level_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player`
--

DROP TABLE IF EXISTS `player`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `player` (
  `user_id` int NOT NULL,
  `username` varchar(50) NOT NULL DEFAULT '',
  `password` varchar(100) NOT NULL DEFAULT '',
  `nickname` varchar(50) NOT NULL DEFAULT '',
  `level` int NOT NULL DEFAULT '1',
  `exp` int NOT NULL DEFAULT '0',
  `gold` int NOT NULL DEFAULT '0',
  `copper` int NOT NULL DEFAULT '0',
  `silver_diamond` int NOT NULL DEFAULT '0',
  `energy` int NOT NULL DEFAULT '100',
  `vip_level` int NOT NULL DEFAULT '0',
  `prestige` int NOT NULL DEFAULT '0',
  `spirit_stone` int NOT NULL DEFAULT '0',
  `yuanbao` int NOT NULL DEFAULT '0',
  `dice` int NOT NULL DEFAULT '0' COMMENT '妤犳澘鐡欓弫浼村櫤',
  `last_signin_date` date DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `cultivation_area` varchar(50) DEFAULT NULL COMMENT '淇鍖哄煙',
  `cultivation_dungeon` varchar(50) DEFAULT NULL COMMENT '淇鍓湰',
  `crystal_tower` int NOT NULL DEFAULT '0',
  `charm` int NOT NULL DEFAULT '0',
  `enhancement_stone` int NOT NULL DEFAULT '0',
  `location` varchar(50) NOT NULL DEFAULT 'luolongzhen',
  `vip_exp` int NOT NULL DEFAULT '0',
  `last_energy_recovery_time` datetime DEFAULT NULL,
  `cultivation_start_time` datetime DEFAULT NULL,
  `cultivation_duration` int DEFAULT NULL,
  `is_summon_king` tinyint(1) NOT NULL DEFAULT '0' COMMENT '????????1=??',
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `uk_username` (`username`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player`
--

LOCK TABLES `player` WRITE;
/*!40000 ALTER TABLE `player` DISABLE KEYS */;
INSERT INTO `player` VALUES (1,'test1','123456','濞村鐦悳鈺?1',100,0,6400,0,0,100,0,0,0,0,0,NULL,'2026-01-07 23:40:24','2026-01-09 19:57:19',NULL,NULL,0,0,0,'luolongzhen',0,NULL,NULL,NULL,1),(2,'test2','123456','娴嬭瘯鐜╁2',100,0,100000,0,0,100,0,0,0,0,0,NULL,'2026-01-09 14:55:22','2026-01-09 15:37:00',NULL,NULL,0,0,0,'luolongzhen',0,NULL,NULL,NULL,0);
/*!40000 ALTER TABLE `player` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player_bag`
--

DROP TABLE IF EXISTS `player_bag`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `player_bag` (
  `user_id` int NOT NULL,
  `bag_level` int NOT NULL DEFAULT '1' COMMENT '???? 1-10',
  `capacity` int NOT NULL DEFAULT '100' COMMENT '?????????',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='???????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player_bag`
--

LOCK TABLES `player_bag` WRITE;
/*!40000 ALTER TABLE `player_bag` DISABLE KEYS */;
INSERT INTO `player_bag` VALUES (1,1,50,'2026-01-09 14:00:36','2026-01-09 14:00:36');
/*!40000 ALTER TABLE `player_bag` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player_beast`
--

DROP TABLE IF EXISTS `player_beast`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `player_beast` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `name` varchar(50) NOT NULL COMMENT '????',
  `realm` varchar(20) NOT NULL COMMENT '??(??/???)',
  `race` varchar(20) DEFAULT '' COMMENT '??(??/???)',
  `level` int NOT NULL DEFAULT '1' COMMENT '??',
  `nature` varchar(20) NOT NULL DEFAULT '??' COMMENT '??(????/?????)',
  `personality` varchar(20) DEFAULT '' COMMENT '??',
  `hp` int NOT NULL COMMENT '??',
  `physical_attack` int NOT NULL COMMENT '??',
  `magic_attack` int NOT NULL COMMENT '??',
  `physical_defense` int NOT NULL COMMENT '??',
  `magic_defense` int NOT NULL COMMENT '??',
  `speed` int NOT NULL COMMENT '??',
  `combat_power` int DEFAULT '0' COMMENT '????',
  `growth_rate` int DEFAULT '0' COMMENT '???',
  `hp_aptitude` int DEFAULT '0' COMMENT '????',
  `speed_aptitude` int DEFAULT '0' COMMENT '????',
  `magic_attack_aptitude` int DEFAULT '0' COMMENT '????',
  `physical_defense_aptitude` int DEFAULT '0' COMMENT '????',
  `magic_defense_aptitude` int DEFAULT '0' COMMENT '????',
  `lifespan` varchar(20) DEFAULT '10000/10000' COMMENT '??',
  `skills` text COMMENT '????(JSON??)',
  `counters` varchar(100) DEFAULT '' COMMENT '??',
  `countered_by` varchar(100) DEFAULT '' COMMENT '??',
  `is_in_team` tinyint(1) DEFAULT '0' COMMENT '??????',
  `team_position` int DEFAULT '0' COMMENT '?????',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_beast` (`user_id`,`name`,`realm`),
  KEY `idx_user_team` (`user_id`,`is_in_team`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='?????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player_beast`
--

LOCK TABLES `player_beast` WRITE;
/*!40000 ALTER TABLE `player_beast` DISABLE KEYS */;
/*!40000 ALTER TABLE `player_beast` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player_dungeon_progress`
--

DROP TABLE IF EXISTS `player_dungeon_progress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `player_dungeon_progress` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `dungeon_name` varchar(100) NOT NULL,
  `current_floor` int DEFAULT '1',
  `total_floors` int DEFAULT '35',
  `floor_cleared` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_dungeon` (`user_id`,`dungeon_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player_dungeon_progress`
--

LOCK TABLES `player_dungeon_progress` WRITE;
/*!40000 ALTER TABLE `player_dungeon_progress` DISABLE KEYS */;
/*!40000 ALTER TABLE `player_dungeon_progress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player_effect`
--

DROP TABLE IF EXISTS `player_effect`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `player_effect` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `effect_key` varchar(64) NOT NULL,
  `end_time` datetime NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_effect` (`user_id`,`effect_key`),
  KEY `idx_end_time` (`end_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player_effect`
--

LOCK TABLES `player_effect` WRITE;
/*!40000 ALTER TABLE `player_effect` DISABLE KEYS */;
/*!40000 ALTER TABLE `player_effect` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player_gift_claim`
--

DROP TABLE IF EXISTS `player_gift_claim`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `player_gift_claim` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `gift_key` varchar(64) NOT NULL,
  `claimed_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_gift` (`user_id`,`gift_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player_gift_claim`
--

LOCK TABLES `player_gift_claim` WRITE;
/*!40000 ALTER TABLE `player_gift_claim` DISABLE KEYS */;
/*!40000 ALTER TABLE `player_gift_claim` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player_immortalize_pool`
--

DROP TABLE IF EXISTS `player_immortalize_pool`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `player_immortalize_pool` (
  `user_id` int NOT NULL COMMENT '鐜╁ID',
  `pool_level` tinyint NOT NULL DEFAULT '1' COMMENT '鍖栦粰姹犵瓑绾?,
  `current_exp` bigint NOT NULL DEFAULT '0' COMMENT '鍖栦粰姹犲綋鍓嶅彲鐢ㄧ粡楠?,
  `formation_level` tinyint NOT NULL DEFAULT '0' COMMENT '鍖栦粰闃电瓑绾?,
  `formation_started_at` datetime DEFAULT NULL COMMENT '鍖栦粰闃靛紑濮嬫椂闂?,
  `formation_ends_at` datetime DEFAULT NULL COMMENT '鍖栦粰闃电粨鏉熸椂闂?,
  `formation_last_grant_at` datetime DEFAULT NULL COMMENT '鍖栦粰闃垫渶杩戜竴娆＄粨绠楁椂闂?,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='鐜╁鍖栦粰姹犵姸鎬?;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player_immortalize_pool`
--

LOCK TABLES `player_immortalize_pool` WRITE;
/*!40000 ALTER TABLE `player_immortalize_pool` DISABLE KEYS */;
/*!40000 ALTER TABLE `player_immortalize_pool` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player_inventory`
--

DROP TABLE IF EXISTS `player_inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `player_inventory` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `item_id` int NOT NULL COMMENT '??ID',
  `quantity` int NOT NULL DEFAULT '1' COMMENT '??',
  `is_temporary` tinyint NOT NULL DEFAULT '0' COMMENT '???????0=???1=???',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_item_temp` (`user_id`,`item_id`,`is_temporary`),
  KEY `idx_user_id` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='?????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player_inventory`
--

LOCK TABLES `player_inventory` WRITE;
/*!40000 ALTER TABLE `player_inventory` DISABLE KEYS */;
INSERT INTO `player_inventory` VALUES (1,1,6012,995,0,'2026-01-09 14:00:44','2026-01-09 15:21:06'),(3,2,6012,300,0,'2026-01-09 14:53:24','2026-01-09 14:55:22'),(6,1,11001,1,0,'2026-01-09 17:05:02','2026-01-09 17:05:02'),(7,1,4002,2,0,'2026-01-09 19:57:09','2026-01-09 19:57:19');
/*!40000 ALTER TABLE `player_inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player_month_card`
--

DROP TABLE IF EXISTS `player_month_card`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `player_month_card` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `month` tinyint unsigned NOT NULL,
  `start_date` datetime NOT NULL,
  `end_date` datetime NOT NULL,
  `days_total` smallint unsigned NOT NULL DEFAULT '30',
  `days_claimed` smallint unsigned NOT NULL DEFAULT '0',
  `last_claim_date` date DEFAULT NULL,
  `status` enum('pending','active','expired') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'active',
  `initial_reward` int NOT NULL DEFAULT '1000',
  `daily_reward` int NOT NULL DEFAULT '200',
  `initial_reward_claimed` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_user_month` (`user_id`,`month`),
  KEY `idx_user_status` (`user_id`,`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player_month_card`
--

LOCK TABLES `player_month_card` WRITE;
/*!40000 ALTER TABLE `player_month_card` DISABLE KEYS */;
/*!40000 ALTER TABLE `player_month_card` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player_settings`
--

DROP TABLE IF EXISTS `player_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `player_settings` (
  `user_id` int NOT NULL COMMENT '??ID',
  `allow_stranger_add_friend` tinyint(1) NOT NULL DEFAULT '1' COMMENT '???????????(1=??,0=??)',
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '????',
  PRIMARY KEY (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='?????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player_settings`
--

LOCK TABLES `player_settings` WRITE;
/*!40000 ALTER TABLE `player_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `player_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player_shop_daily_purchase`
--

DROP TABLE IF EXISTS `player_shop_daily_purchase`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `player_shop_daily_purchase` (
  `user_id` int NOT NULL,
  `shop_item_id` int NOT NULL,
  `purchase_date` date NOT NULL,
  `quantity` int NOT NULL DEFAULT '0',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`user_id`,`shop_item_id`,`purchase_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player_shop_daily_purchase`
--

LOCK TABLES `player_shop_daily_purchase` WRITE;
/*!40000 ALTER TABLE `player_shop_daily_purchase` DISABLE KEYS */;
/*!40000 ALTER TABLE `player_shop_daily_purchase` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player_talent_levels`
--

DROP TABLE IF EXISTS `player_talent_levels`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `player_talent_levels` (
  `user_id` int NOT NULL,
  `talent_key` varchar(16) NOT NULL,
  `level` int DEFAULT '0',
  PRIMARY KEY (`user_id`,`talent_key`),
  CONSTRAINT `player_talent_levels_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `player` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player_talent_levels`
--

LOCK TABLES `player_talent_levels` WRITE;
/*!40000 ALTER TABLE `player_talent_levels` DISABLE KEYS */;
/*!40000 ALTER TABLE `player_talent_levels` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `private_message`
--

DROP TABLE IF EXISTS `private_message`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `private_message` (
  `id` int NOT NULL AUTO_INCREMENT,
  `sender_id` int NOT NULL COMMENT '???ID',
  `sender_name` varchar(50) NOT NULL COMMENT '?????',
  `receiver_id` int NOT NULL COMMENT '???ID',
  `receiver_name` varchar(50) NOT NULL COMMENT '?????',
  `content` varchar(200) NOT NULL COMMENT '???????200???',
  `is_read` tinyint(1) NOT NULL DEFAULT '0' COMMENT '????(1=??,0=??)',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '????',
  PRIMARY KEY (`id`),
  KEY `idx_sender` (`sender_id`),
  KEY `idx_receiver` (`receiver_id`),
  KEY `idx_receiver_created` (`receiver_id`,`created_at`),
  KEY `idx_conversation` (`sender_id`,`receiver_id`,`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='???';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `private_message`
--

LOCK TABLES `private_message` WRITE;
/*!40000 ALTER TABLE `private_message` DISABLE KEYS */;
INSERT INTO `private_message` VALUES (1,2,'娴嬭瘯鐜╁2',1,'濞村鐦悳鈺?1','鐪熷嚭杩樻槸鍋囧嚭',1,'2026-01-04 17:40:38'),(2,2,'娴嬭瘯鐜╁2',1,'濞村鐦悳鈺?1','澶氬皯閽卞嚭',1,'2026-01-04 18:40:38'),(3,1,'濞村鐦悳鈺?1',2,'娴嬭瘯鐜╁2','300鐪熷嚭',0,'2026-01-04 19:40:38'),(4,1,'濞村鐦悳鈺?1',2,'娴嬭瘯鐜╁2','3000',0,'2026-01-04 20:40:38'),(5,2,'娴嬭瘯鐜╁2',1,'濞村鐦悳鈺?1','鏈夋病鏈変紭鎯?,1,'2026-01-05 17:40:38'),(6,2,'娴嬭瘯鐜╁2',1,'濞村鐦悳鈺?1','鎴戝帇涓环鍗犱綅缃?2500',1,'2026-01-05 18:40:38'),(7,1,'濞村鐦悳鈺?1',2,'娴嬭瘯鐜╁2','閭ｄ細',0,'2026-01-09 16:45:01');
/*!40000 ALTER TABLE `private_message` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `spar_battle_log`
--

DROP TABLE IF EXISTS `spar_battle_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `spar_battle_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `attacker_id` int NOT NULL COMMENT '???ID',
  `attacker_name` varchar(50) NOT NULL COMMENT '?????',
  `defender_id` int NOT NULL COMMENT '????ID',
  `defender_name` varchar(50) NOT NULL COMMENT '??????',
  `is_attacker_win` tinyint NOT NULL DEFAULT '0' COMMENT '???????(1=?,0=?)',
  `battle_data` text COMMENT '????(JSON)',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_attacker` (`attacker_id`),
  KEY `idx_defender` (`defender_id`),
  KEY `idx_created` (`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='???????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `spar_battle_log`
--

LOCK TABLES `spar_battle_log` WRITE;
/*!40000 ALTER TABLE `spar_battle_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `spar_battle_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tower_state`
--

DROP TABLE IF EXISTS `tower_state`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tower_state` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `tower_type` varchar(20) NOT NULL DEFAULT 'tongtian',
  `current_floor` int NOT NULL DEFAULT '1',
  `max_floor_record` int NOT NULL DEFAULT '1',
  `today_count` int NOT NULL DEFAULT '0',
  `last_challenge_date` date DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_tower` (`user_id`,`tower_type`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='?????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tower_state`
--

LOCK TABLES `tower_state` WRITE;
/*!40000 ALTER TABLE `tower_state` DISABLE KEYS */;
/*!40000 ALTER TABLE `tower_state` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `world_chat_message`
--

DROP TABLE IF EXISTS `world_chat_message`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `world_chat_message` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL COMMENT '???ID',
  `nickname` varchar(50) NOT NULL COMMENT '?????',
  `message_type` varchar(20) NOT NULL DEFAULT 'normal' COMMENT '?????normal=????, summon_king=??????',
  `content` varchar(200) NOT NULL COMMENT '???????200???',
  `is_pinned` tinyint(1) NOT NULL DEFAULT '0' COMMENT '????????????',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '????',
  PRIMARY KEY (`id`),
  KEY `idx_user` (`user_id`),
  KEY `idx_type_created` (`message_type`,`created_at`),
  KEY `idx_pinned` (`is_pinned`,`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='???????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `world_chat_message`
--

LOCK TABLES `world_chat_message` WRITE;
/*!40000 ALTER TABLE `world_chat_message` DISABLE KEYS */;
/*!40000 ALTER TABLE `world_chat_message` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'game_tower'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-10 22:40:34
